html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.artist-gallery-back-button {
  z-index: 1000;

  @media (max-width: 768px) {
    margin-top: 12px;
  }
}
