html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar for carousel */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.artist-gallery-back-button {
  z-index: 1000;

  @media (max-width: 768px) {
    margin-top: 12px;
  }
}
